body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2B31AF;
    background-color:#D3E5FD;
    
    /* vertical-align: top;
    box-sizing: border-box; */
    /* width: 80%; */
}
.container {
    width: 900px;
    height: 700px;
    margin-left: 35%;
    margin-top: 10%; 
    background-color: #FDFEFF;  
}
.form {
    width: 90%;
    display: inline-block;
    margin: 0 7%;
    padding: 20px;
}
h1 {
    padding-top: 8%;
    margin-left: 10%;
    font-size: 50px;
    font-weight: lighter;
}
.row1 {
    width: 45%;
    background-color: #E7E9FE;
    color:#233BF5;    
}
.row2 {
    width: 45%;
    background-color: #DCE1FF;   
}
.row3 {
    width: 93%;
    background-color: #C7CDFD;
}
.row4 {
    width: 93%;
    padding: 50px;
    background-color: #A5B1FD;
    margin-bottom: 5%;
}
input {
    border: none;
    border-radius: 5px;
    padding: 30px;
    margin: 1%;
}    
a {
    width: 15%;
    font-size: 20px;
    /* line-height: 30px; */
    padding: 14px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 25px;
    margin-left: 37%;
    background:#233BF5;
    color: #fff;
    text-decoration: none;
}
.input {
    width: 80%;
    color: #233BF5;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
    text-align: left;
}
input::placeholder {
    color: #2B31AF;
    font-size: 19px;
    font-weight: 600;
}
p {
    color: #63C0A6;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 3%;
}